{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
</head>
<body>

<div style="width: 100% !important; height: 100% !important;z-index: -999;position: absolute;">
    <img style="width: 100% !important; height: 100% !important;" src="{% static 'img/background.jpg' %}">
</div>


<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://bj.lianjia.com/">链家</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入城市名称" name="cityname">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/predict/">预测</a></li>
                <li><a href="/login/">登录</a></li>
                <li><a href="/sigin/">注册</a></li>
            </ul>
        </div>
    </div>
</nav>






<script href="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script href="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>
</html>