{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
</head>
<body>

<div style="width: 100% !important; height: 100% !important;z-index: -999;position: absolute;">
    <img style="width: 100% !important; height: 100% !important;" src="{% static 'img/bg2.jpg' %}">
</div>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">二手房信息</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入想要更新的页数" name="pagenum">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/show/">展示</a></li>
            </ul>
        </div>

    </div>
</nav>



<script href="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script href="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>
</html>